<super-navbar>
  <super-navbar-title>Meeting Requests</super-navbar-title>
</super-navbar>

<div class="list list-inset">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Website Breakdown</h2>
      <p>Time: </p>
      <p>Location:</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Genaral Meeting</h2>
      <p>Time: </p>
      <p>Location:</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Tech Staff Meeting</h2>
      <p>Time: </p>
      <p>Location:</p>
    </a>


</div>
