<div ng-controller="TeamController">

  <super-navbar>
    <super-navbar-title>
      Team
    </super-navbar-title>
  </super-navbar>

  <h4 class="center-text">Enter your team members' email addresses</h4>

  <div class="list">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="email" placeholder="Email" ng-model="newEmail" required>
      </label>
      <button class="button button-small" ng-click="addEmail(newEmail)">
        Submit
      </button>
    </div>
  </div>

  <div class="list"> 
    <div ng-repeat="email in emails">
      <div class="item item-button-right">
        {{ email.address }}
        <button class="button button-clear button-assertive" ng-click="removeEmail($index)">
          <i class="icon super-close-circled"></i>
        </button>
      </div>
    </div>
  </div>

  <super-navigate view-id="rsvp">
    <button class="button button-block button-positive icon-left super-university">RVSP</button>
  </super-navigate>
</div>
