/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #cb2027;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: black;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #cb2027;
}

tab-bar-item#team {
  background-image: url(icons/ios-people.svg);
}

tab-bar-item#request {
  background-image: url(icons/home.svg);
}

tab-bar-item#internet {
  background-image: url(icons/search.svg);
}
tab-bar-item#meeting {
  background-image: url(icons/meeting.svg);
}
