<div class="padding" ng-controller="RequestCtrl">

  <super-navbar>
    <super-navbar-title>Dev Team</super-navbar-title>
  </super-navbar>

  <div class="item item-divider" style="text-align:center">Date and Time</div>

  <label class="item item-input item-select item-stacked-label">
    <div class="input-label">
      Date of Meeting
    </div>
    <input type="date" ng-model="theDate">
    </input>
  </label>

  <label class="item item-input item-select item-stacked-label">
    <div class="input-label">
      Start Time
    </div>
    <input type="time" ng-model="startTime">
    </input>
  </label>

  <label class="item item-input item-select item-stacked-label">
    <div class="input-label">
      End Time
    </div>
    <input type="time" ng-model="endTime">
    </input>
  </label>

    <div class="item item-divider" style="text-align:center">Location and Purpose</div>
    <label class="item item-input item-floating-label">
      <span class="input-label">Location</span>
      <input type="text" placeholder="Location" ng-model="master.loc">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Purpose</span>
      <input type="text" placeholder="Purpose" ng-model="master.purpose"></input>
    </label>


    <button class="button button-block button-stable" ng-click="requestMeeting()">
      Schedule Meeting
    </button>
</div>
