<div class="padding" ng-controller="RequestCtrl">

  <super-navbar>
    <super-navbar-title>Dev Team</super-navbar-title>
  </super-navbar>
  <label class="item item-input item-select item-stacked-label">
    <div class="input-label">
      Start Time
    </div>
    <input type="time" step="600" ng-model="startTime" placeholder="HH:mm">
    </input>
  </label>

  <label class="item item-input item-select item-stacked-label">
    <div class="input-label">
      End Time
    </div>
    <input type="time" ng-model="endTime" placeholder="HH:mm">
    </input>
  </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Location</span>
      <input type="text" placeholder="Location" ng-model="master.loc">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Purpose</span>
      <input type="text" placeholder="Purpose" ng-model="master.purpose"></input>
    </label>


    <button class="button button-block button-stable" ng-click="requestMeeting()">
      Schedule Meeting
    </button>
</div>
