<div class="padding" ng-controller="RsvpCtrl">
  <super-navbar>
    <super-navbar-title>Meeting</super-navbar-title>
  </super-navbar>

  <div class="list"> 

    <div class="item">Start time: {{meetingSpecs.startTime | date:'shortTime'}}</div>
    <div class="item">End time: {{meetingSpecs.endTime | date:'shortTime'}}</div>
    <div class="item">Location: {{meetingSpecs.location}}</div>
    <div class="item">Meeting purpose: {{meetingSpecs.purpose}}</div>

    <div class="item item-divider">Can you make the meeting?</div>

    <div class="item item-input">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Name" ng-model="newName" required>
      </label>
    </div>

    <div class="item button-bar">
      <a class="button button-balanced super-checkmark-round" ng-click="acceptMeeting(newName)" ng-class="{'button-clear': buttonStatus != 1}" ng-disabled="buttonStatus"></a>
      <a class="button button-assertive super-close-round" ng-click="rejectMeeting(newName)" ng-class="{'button-clear': buttonStatus != 2}" ng-disabled="buttonStatus"></a>
    </div>

    <div class="item item-divider">
      Participants
    </div>

    <div ng-repeat="person in meetingSpecs.attendees">
      <div class="item item-button-right">
        {{person.name}}
        <button class="button button-clear button-balanced" ng-if="person.attend">
          <i class="icon super-checkmark-round"></i>
        </button>
        <button class="button button-clear button-assertive" ng-if="!person.attend">
          <i class="icon super-close-round"></i>
        </button>
      </div>
    </div>
  </div>
</div>
