<div class="padding" ng-controller="UserCtrl">
  <super-navbar>
    <super-navbar-title>
      User
    </super-navbar-title>
  </super-navbar>

  <!-- Login versus register; replace with something other than checkbox -->
  <input type="checkbox" ng-model="login">
  
  <!-- Login -->
  <div ng-show="login">
    <label class="item item-input item-floating-label">
      <input type="email" ng-model="loginEmail" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
      <input type="password" ng-model="loginPassword" placeholder="Password">
    </label>
  </div>

  <!-- Register -->
  <div ng-hide="login">
    <label class="item item-input item-floating-label">
      <input type="email" ng-model="registerEmail" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
      <input type="password" ng-model="registerPassword" placeholder="Password">
    </label>
    <label class="item item-input item-floating-label">
      <input type="text" ng-model="registerName" placeholder="Your Name">
    </label>
  </div>

</div>