<div class="padding" ng-controller="UserCtrl">
  <super-navbar>
    <super-navbar-title>
      User
    </super-navbar-title>
  </super-navbar>
  
  <!-- Login -->
  <div ng-show="toggledView === 'login'">
    <button class="button button-block button-positive" ng-click="switchView('register')">
      New? Click here to register
    </button>
    <label class="item item-input item-floating-label">
      <input type="email" ng-model="loginEmail" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
      <input type="password" ng-model="loginPassword" placeholder="Password">
    </label>
  </div>

  <!-- Register -->
  <div ng-show="toggledView === 'register'">
    <label class="item item-input item-floating-label">
      <input type="text" ng-model="registerName" placeholder="Your Name">
    </label>
    <label class="item item-input item-floating-label">
      <input type="email" ng-model="registerEmail" placeholder="Email">
    </label>
    <label class="item item-input item-floating-label">
      <input type="password" ng-model="registerPassword" placeholder="Password">
    </label>
    <label class="item item-input item-floating-label">
      <input type="password" ng-model="passConfirm" placeholder="Confirm Password">
    </label>
    <button class="button button-block button-positive" ng-click="switchView('login')">
      Returning user? Click here to log in
    </button>
  </div>

</div>